*.class
*.classpath
*.factorypath
*.emptyDir
*.jsdtscope
*.project
*/target
**/.settings/
**/.apt_generated/
/.idea/
/.settings/
**/.metadata/
*.jsfdia
*.bak
*.*~
*.NavData
*.iml
**/rebel.xml
**/rebel-remote.xml
**/nb_jr_remoting.cfg
/target/
**/build
/out
**/WebContent
.DS_Store
*.log
*.tern-project